:root {
    --white-color: white;
    --color_t1: #008806;
    --color_t2: #0b74ff;
    --red-color: #009e1d;
    /*--red-color:  #FF2300;*/
    --super-red-color: #76ff00;
    --red-color2: #7c1800;
    --blue-text-color: #0053ff;
    --green-color: #008806;
    --black-color: #2B2B2B;
    --bright-color: #00f9ff;
    --dark-menu: #141414;
}

html, body {
    background: var(--black-color);
}

.bg_dark_color {
    background: var(--black-color);
}
h1 {
    color: var(--super-red-color);
    /*font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;*/
    font-family: 'Comic Sans MS', sans-serif;
}

h3, h4, h5, h6 {
    color: var(--red-color);
}

.card_img_static {
    width: 140px;
}

.card_img {
    width: 140px;
}

.card_img:hover {
    width: 160px;
}

#score_right {
    display: inline;
    right: 20%;
    position: absolute;
    top: 5%;
}

/*#left_menu{*/
/*    display: inline;*/
/*    position: absolute;*/
/*    !*top: 15%;*!*/
/*    background: var(--dark-menu);*/
/*    padding: 5px;*/
/*}*/


.bottom {
    background: var(--dark-menu);
    height: 100%;
}

ul {
    list-style: none;
}

#rope {
    width: 100%;
    height: 10px;
    background-image: url('images/rope.png');
    background-repeat: repeat-x;
}

.player_span {
    color: var(--red-color);
    font-size: 20px;
}

.selected_player {
    color: var(--white-color);
    font-size: 20px;
    text-decoration: underline;
    background-color: var(--red-color2);
}

#mapid {
    /*width: 100%;*/

    height: 450px;
    /*height: 500px;*/
    /*position: fixed;*/
    /*right: 5%;*/
    /*left: 205px;*/
}


.tab-button {
    padding: 6px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #f0f0f0;
    margin-bottom: -1px;
    margin-right: -1px;
    width: 120px;
}

.tab-button:hover {
    background: #e0e0e0;
}

.tab-button.active {
    background: #e05300;
}

.tab {
    border: 1px solid #ccc;
    padding: 10px;
}

#start_btn {
    border-radius: 10px;
    height: 40px;
    width: 140px;
    /*background: linear-gradient(180deg, #1aad00, #0c4c05);*/
    border: none;
    /*color: white;*/
    /*cursor: pointer;*/
}

#home_div {
    position: fixed;
    /*height: 500px;*/
    color: white;
    width: 100%;
}


.left_side {
    /*display: inline;*/
    /*position: fixed;*/
    left: 20px;
    max-width: 30%;
    background: var(--dark-menu);
    /*padding: 15px;*/
    /*width: 30%;*/
}


.left_side_small {
    /*display: inline;*/
    position: absolute;
    left: 20px;
    background: var(--dark-menu);
    padding: 15px;
    width: 200px;
}

#first_menu {
    /*display: inline;*/
    /*position: fixed;*/
    right: 20px;
    padding: 15px;
    /*width: 100%;*/
    /*z-index: -1;*/
}

.blue {
    color: #00a5ff;
}


.red {
    color: #ff4000;
}


.input_name {
    width: 80px;
}

.left_select {
    background: rgba(13, 14, 42, 0.97);
    color: #282828;
    border: none;
    width: 100%;
}


#virus_level {
    position: absolute;
    display: block;
    right: 40px;
    top: 13px;
    width: 500px;
    height: 40px;
    font-size: 24px;
    color: #00ff39;
}

#epidemic_flashes {
    position: absolute;
    display: block;
    right: 40px;
    top: 40px;
    width: 600px;
    height: 60px;
    font-size: 24px;
    color: #ff0b00;
}

#virus_level.li{
    list-style-image: url('images/bio_marker.png');
}

label {
    position: relative;
    cursor: pointer;
}

textarea {
    width: 300px;
    height: 400px;
    color: blue;
    background: white;
    font-size: 26px;
}

#player_cards, #game_cards, #old_cards {
    /*display: inline;*/
    /*position: relative;*/
    /*width: 200px;*/
    /*height: 300px;*/
    color: white;
}

.color_red {
    color: white;
    background: red;
}

.color_blue {
    color: white;
    background: blue;
}

.color_black {
    color: white;
    background: black;
}

.color_yellow {
    color: black;
    background: yellow;
}


.color_orange {
    color: black;
    background: orange;
}

.color_white {
    color: black;
    background: white;
}

.pandemic_lists_link {
    font-size: 20px;
    color: white;
}

p {
    font-size: 20px;
}