:root {
    --white-color: white;
    --color_t1: #008806;
    --color_t2: #0b74ff;
    --red-color: #009e1d;
    /*--red-color:  #FF2300;*/
    --super-red-color: #76ff00;
    --red-color2: #7c1800;
    --blue-text-color: #0053ff;
    --green-color: #008806;
    --black-color: #2B2B2B;
    --bright-color: #00f9ff;
    --dark-menu: #141414;
    --params-bg: rgba(0,0,0,0.5);
}

html, body {
    background: var(--black-color);
}

.bg_dark_color {
    background: var(--black-color);
}
h1, h2 {
    color: var(--super-red-color);
    /*font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;*/
    font-family: 'Comic Sans MS', sans-serif;
}

h3, h4, h5, h6 {
    color: var(--red-color);
}

.card_img_static {
    width: 140px;
}

.card_img {
    width: 140px;
}

.card_img:hover {
    width: 160px;
}

#score_right {
    display: inline;
    right: 20%;
    position: absolute;
    top: 5%;
}

/*#left_menu{*/
/*    display: inline;*/
/*    position: absolute;*/
/*    !*top: 15%;*!*/
/*    background: var(--dark-menu);*/
/*    padding: 5px;*/
/*}*/


.bottom {
    background: var(--dark-menu);
    height: 100%;
}

ul {
    list-style: none;
}

#rope {
    width: 100%;
    height: 10px;
    background-image: url('images/rope.png');
    background-repeat: repeat-x;
}

.player_span {
    color: var(--bright-color);
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.selected_player {
    color: var(--white-color);
    font-size: 20px;
    text-decoration: underline;
    background-color: var(--red-color2);
}

#mapid {
    /*width: 100%;*/

    /*height: 450px;*/
    height: 400px;
    /*position: fixed;*/
    /*right: 5%;*/
    /*left: 205px;*/
}


.tab-button {
    /*left: 200px;*/
    padding: 6px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #f0f0f0;
    margin-bottom: -1px;
    margin-right: -1px;
    width: 120px;
}

.tab-button:hover {
    background: #e0e0e0;
}

.tab-button.active {
    background: #e05300;
}

.tab {
    /*border: 1px solid #ccc;*/
    padding: 10px;
}

#start_btn {
    border-radius: 10px;
    height: 40px;
    width: 140px;
    /*background: linear-gradient(180deg, #1aad00, #0c4c05);*/
    border: none;
    /*color: white;*/
    /*cursor: pointer;*/
}

#home_div {
    position: fixed;
    /*height: 500px;*/
    color: white;
    width: 100%;
}


.left_side {
    /*display: inline;*/
    /*position: fixed;*/
    left: 20px;
    max-width: 30%;
    background: var(--dark-menu);
    /*padding: 15px;*/
    /*width: 30%;*/
}


.left_side_small {
    /*display: inline;*/
    position: absolute;
    left: 20px;
    background: var(--dark-menu);
    padding: 15px;
    width: 200px;
}

#first_menu {
    /*display: inline;*/
    /*position: fixed;*/
    right: 20px;
    padding: 15px;
    /*width: 100%;*/
    /*z-index: -1;*/
}

.blue {
    color: #00a5ff;
}


.red {
    color: #ff4000;
}



.input_name {
    width: 80px;
}

.left_select{
    background: rgba(13, 14, 42, 0.97);
    border: none;
    color: var(--bright-color);
}


#virus_level.li{
    list-style-image: url('images/bio_marker.png');
}

label {
    position: relative;
    cursor: pointer;
}

textarea {
    width: 300px;
    height: 400px;
    color: blue;
    background: white;
    font-size: 26px;
}

#player_cards, #game_cards, #old_cards {
    /*display: inline;*/
    /*position: relative;*/
    /*width: 200px;*/
    /*height: 300px;*/
    color: white;
}

.color_red {
    color: white;
    background: red;
}

.color_blue {
    color: white;
    background: blue;
}

.color_black {
    color: white;
    background: black;
}

.color_yellow {
    color: black;
    background: yellow;
}


.color_orange {
    color: black;
    background: orange;
}

.color_white {
    color: black;
    background: white;
}

.pandemic_lists_link {
    font-size: 20px;
    color: white;
}

p {
    font-size: 20px;
}

#infect_input{
    max-width: 60px;
}

#vaccines{
    position: absolute;
    display: block;
    top: 56px;
    left: 45%;
    border-bottom: 2px solid yellow;
    z-index: 1000;
    background: var(--params-bg);
}

#virus_level {
    position: absolute;
    display: block;
    right: 0px;
    top: 10px;
    height: 40px;
    font-size: 24px;
    color: #00ff39;
    background: var(--params-bg);
    z-index: 1000;
    width: 420px;
    padding: 10px;
}

#epidemic_flashes {
    position: absolute;
    display: block;
    font-size: 14px;
    right: 0px;
    top: 50px;
    height: 60px;
    color: #ff0b00;
    z-index: 1000;
    background: var(--params-bg);
    width: 420px;
    padding: 10px;
}

.virus_img{
    width: 25px;
    height: 25px;
}

#pyndemic_logo{
    /*position: absolute;*/
    display: inline-block;
}

#game_nav{
    left: 30%;
    /*position: fixed;*/
    display: inline-block;
}

#text_area{
    max-width: 350px;
    max-height: 200px;
}

.player_field{
    background: #2c3e50;
    background-image: url('img/player_field_bg.png');
    min-height: 150px;
}


.svg_city_name{
    font-size: 10px;
    fill: white;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #ffffff52;
    color: #333;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.33);
}

.green{
    color: forestgreen;
}

.leaflet-marker-icon.leaflet-interactive, .leaflet-image-layer.leaflet-interactive, .leaflet-pane > svg path.leaflet-interactive,
svg.leaflet-image-layer.leaflet-interactive path {
    cursor:crosshair !important;
}